.active-tab {
    border-radius: 3px 3px 0px 0px;
    align-self: center;
    height: 8px;
    width: 100%;
    background: rgba(255, 0, 0, 0.78);
}

.tabs {
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: scroll;
}

.tab {
    flex-direction: column;
    overflow-y: hidden;
    height: 45px;
}

.btn-holder {
    font-weight:900;
    display: flex;
    justify-content: center;
    background: linear-gradient(45deg, #ff4081, transparent);
}
    .btn-holder button {
        color: white;
    }

.container {
    display: grid;
    grid-template-rows: 1fr 9fr;
}

body {
    font-family: 'Kaushan Script', cursive;
}
