@page "/quize"
<style>
    body{
        overflow:hidden;
    }
</style>
<PageTitle>Quize</PageTitle>

<div class="container" >
        <MudPaper Elevation="5"  Class="btn-holder mx-3 my-3" Style="transform: skew(-20deg);">
            <MudButton Class="start-btn">
                <MudText Typo="Typo.h6" Align="Align.Center">
                    START
                </MudText>
            </MudButton>
        </MudPaper>
        <MudPaper Class="mx-3 my-2" Height="100%" Elevation="5">
            <MudGrid Class="py-3">
                <MudItem xs="5">
                    <MudText Class="ml-3" Typo="Typo.h6">
                        Quize
                    </MudText>
                </MudItem>
                <MudItem xs="7">
                    <MudPaper Style="background: #cce5ff;padding: 12px 0px;">
                        <MudGrid Class="align-center" Style="margin-left: 0px;" >
                            <MudItem xs="7">
                                <MudText Typo="Typo.body2">
                                    Time Left
                                </MudText>
                            </MudItem>
                            <MudItem Style="padding: 0 !important;" xs="5">
                                 <MudChip>
                                    08
                                </MudChip>
                            </MudItem>
                        </MudGrid>
                    </MudPaper>
                </MudItem>
            </MudGrid>
            <MudDivider DividerType="DividerType.FullWidth" />
            <MudGrid Class="align-center justify-center py-8">
                <MudItem Class="py-3" xs=12>
                    <MudText Class="px-2" Typo="Typo.h6">
                        1. What does HTML stand for?
                    </MudText>
                </MudItem>
                <MudItem Class="py-1" xs="12">
                    <MudPaper Height="50px" Class="d-flex align-center mx-2 rounded" Outlined="true">
                        <MudText Class="pl-3" Typo="Typo.body2">
                            Hyper Text Preprocessor
                        </MudText>
                    </MudPaper>
                </MudItem>
                <MudItem Class="py-1" xs="12">
                    <MudPaper Height="50px" Class="d-flex align-center mx-2 rounded" Outlined="true">
                        <MudText Class="pl-3" Typo="Typo.body2">
                            Hyper Text Markup Language
                        </MudText>
                    </MudPaper>
                </MudItem>
                <MudItem Class="py-1" xs="12">
                    <MudPaper Height="50px" Class="d-flex align-center mx-2 rounded" Outlined="true">
                        <MudText Class="pl-3" Typo="Typo.body2">
                            Hyper Text Multiple Language
                        </MudText>
                    </MudPaper>
                </MudItem>
                <MudItem Class="py-1" xs="12">
                    <MudPaper Height="50px" Class="d-flex align-center mx-2 rounded" Outlined="true">
                        <MudText Class="pl-3" Typo="Typo.body2">
                            Hyper Tool Multi Language
                        </MudText>
                    </MudPaper>
                </MudItem>
            </MudGrid>
            <MudDivider DividerType="DividerType.FullWidth" />
            <MudGrid Class="justify-center align-center py-3">
                <MudItem xs="6">
                    <MudText Class="ml-3" Typo="Typo.body2">
                        1 of 5 Questions
                    </MudText>
                </MudItem>
                <MudItem Class="d-flex justify-end mr-3" xs="5">
                    <MudButton Color="Color.Info" Variant="Variant.Filled">
                        Next Que
                    </MudButton>
                </MudItem>
            </MudGrid>
        </MudPaper>
</div>
 
